@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>So many movies to watch</p>
</div>

<img src="~/img/Professor Hilton's bro.jpg" height="500"/>
<br />
<div>
    <a asp-controller="Home" asp-action="FillOutForm">Fill Out Form</a>
    <a asp-controller="Home" asp-action="Podcasts">My Podcasts</a>
</div>